{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="action-buttons">
    <a class="button primary big" href="https://github.com/fosspill/FFXIV_Modding_Tool/releases" >Download</a> <a class="button outline big" href="https://github.com/fosspill/FFXIV_Modding_Tool">View on Github</a>
    <p>Zip-archive, includes all the source and site example files</p>
  </div>
 <div class="message focus" data-component="message">
      <a class="button inverted small " href="https://github.com/fosspill/FFXIV_Modding_Tool/releases" >A new release is out </a> and with it comes <mark>Wizard support</mark>, a unique <mark>modpack info</mark> command and some cleaner code! -July 2nd
</div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="Shadowbringers" height="48" src="{{ "/img/moon.png" | relURL }}" width="48">
        </figure>
        <h3>Shadowbringers Support</h3>
        <p>Thanks to the xivmoddingframework we already support ShB!</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Terminal" height="48" src="{{ "/img/terminal.png" | relURL }}" width="48">
        </figure>
        <h3>Commandline</h3>
        <p>We love the commandline and it shows. Using many beloved open source tools as inspiration we are slowly making an application that is powerful yet simple to use.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Cross-Platform" height="48" src="{{ "/img/infinity.png" | relURL }}" width="48">
        </figure>
        <h3>Cross-Platform</h3>
        <p>We strongly believe that everyone should have the right to use software when they want it and how they want it. Hence we are promising full support for Mac, Windows and Linux!</p>
      </div>
    </div>
    <div class="row gutters">
      <div class="col col-4 item">
        <h4>Mod Final fantasy XIV</h4>
        <p>When you want it. <br/>How you want it. <br/>From whichever platform you chose.</p>
      </div>
      <div class="col col-4 item">
        <h4>Contribute</h4>
        <p>We couldn't be here without open source software and would love to see more contributors and testers.
The FFMT team also contributes upstream to ensure full crossplatform support.
</p>
      </div>
      <div class="col col-4 item">
        <h4>License</h4>
        <p>FFMT licensed under <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a>.<br>
      FFMT is (and will remain) absolutely free for personal or commercial use.</p>
    </div>
  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
